* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  animation-name: gay;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  font-family: sans-serif;
}
h1 {
  text-transform: uppercase;
  animation-name: flicker;
  animation-iteration-count: infinite;
  animation-duration: 0.3s;
}

@keyframes gay {
  from {
    background-color: red;
  }
  10% {
    background-color: orange;
  }
  20% {
    background-color: yellow;
  }
  30% {
    background-color: green;
  }
  40% {
    background-color: blue;
  }
  50% {
    background-color: indigo;
  }
  60% {
    background-color: violet;
  }
  70% {
    background-color: red;
  }
  80% {
    background-color: orange;
  }
  90% {
    background-color: yellow;
  }
  100% {
    background-color: green;
  }
}

@keyframes flicker {
  from {
    color: white;
  }
  50% {
    color: black;
  }
  100% {
    color: white;
  }
}
